* {
  padding: 0;
  margin: 0;
  color: #E1E1E1
}

body {
  background-color: #1A1A1A;
}

h1 {
  color: #E1E1E1;
  margin: 20px;
}

h3 {
  color: #E1E1E1;
  margin: 20px 0;
}

body {
  color: #D1D1D1;
}

input {
  margin: 10px;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #2F2F2F;
  border:none;
  border-radius: 3px;

}

input:focus{
    outline: none;
    box-shadow: none;
    border-color: inherit;
    -webkit-box-shadow: none;
  }

.App {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.input-wrapper {
  justify-content: center;
}

.name-row {
  width: 100%;
  display:flex;
  align-items: center;

}

.name-wrapper {
  margin: 0 auto;
}

.button-row {
  width: 100%;
  align-items: center;
  display:flex;
}

.button-wrapper {
  margin: 10px auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.button-row {
  width: 100%;
  align-items: center;
  display:flex;
}

button {
  display: inline-block;
  color: #E1E1E1;
  border-radius: 3px;
  padding: 1px 5px;
  border: none;
  background-color: #5762D6;
  transition: background-color .17s ease,color .17s ease;

}

pre {
  white-space: pre-wrap;
}

.payload-wrapper {
  width: 500px;
  margin: auto 0px;
}

.notes-input {
  width: calc(100% - 4px);
  height: 60px;
  margin: 10px 0;
  padding: 5px;
  background-color: #2F2F2F;
  border: none;
  border-radius: 5px;
}


.notes-input:focus{
    outline: none;
    box-shadow: none;
    border-color: inherit;
    -webkit-box-shadow: none;
  }


#recipe-name {
  margin-right: 0;
}

.response-text {
  color: #565656;
  font-size: small;
  margin: 10px 0;
}
