* {
  padding: 0;
  margin: 0;
}

h1 {
  color: #565656;
  margin: 20px;
}

h3 {
  color: #565656;
  margin: 20px 0;
}

body {
  color: #434343;
}

input {
  margin: 10px;
  padding-left: 3px;
}

.App {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.input-wrapper {
  justify-content: center;
}

.name-row {
  width: 100%;
  display:flex;
  align-items: center;

}

.name-wrapper {
  margin: 0 auto;
}

.button-row {
  width: 100%;
  align-items: center;
  display:flex;
}

.button-wrapper {
  margin: 10px auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 302px;
}

.button-row {
  width: 100%;
  align-items: center;
  display:flex;
}

button {
  display: inline-block;
  color: #434343;
}

pre {
  white-space: pre-wrap;
}

.payload-wrapper {
  width: 500px;
  margin: auto 0px;
}

.notes-input {
  width: calc(100% - 4px);
  margin: 10px 0;
}

#recipe-name {
  margin-right: 0;
}

.response-text {
  color: #565656;
  font-size: small;
  margin: 10px 0;
}